/* ----HEADER---- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 1rem; 
  height: 3.5rem; 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1.5rem;
}

.right-icons {
  display: flex;
  gap: 0.5rem;
}

.right-icons img {
  width: 1.3rem;
  height: 1.3rem;
}
.hamburger-menu {
  width: 1.5rem;
  height: 1.5rem;
}

/* ----HEADER---- */

