/* BAG WITHOUT ITEM */
.shopping-bag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); 
  gap: 3rem;
  text-align: center;
  margin-top: 3rem;
}

.shopping-button {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 3rem;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  font-size: 1rem;
  text-decoration: none;   
  text-align: center;
}
/* BAG WITH ITEM */
.bag-items-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}

.bag-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
#bag-items {
  display: flex;
  flex-direction: column; 
  gap: 1rem; 
}

.bag-item img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.remove-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}