.shopping-bag-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  height: 50vh;   
  gap: 3rem;             
}

.shopping-button {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  font-size: 1rem;
  text-decoration: none;   
  text-align: center;
}