/*--------CSS RESET--------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure text areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*--------CSS RESET--------*/




/* IMAGE */
.product-image-box {
  display: flex;
  justify-content: center;
  align-items: flex-center;
  margin-bottom: 20px;
  
}

.main-product-img {
  width: 50%;
  border-radius: 10px;
  height: auto;
}

/* TITLE + PRICE + BUTTON */
.product-main-info {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.product-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.price-cart-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
}

.add-cart-btn {
  background: #e5e5e5;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.add-cart-btn:hover {
  opacity: 0.85;
}

/* ACCORDION */
.accordion {
  width: 100%;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  padding: 16px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 0 16px 16px 16px;
  font-size: 14px;
}

/* Sizes Chips */
.size-chip {
  display: inline-block;
  padding: 6px 10px;
  margin-right: 8px;
  margin-top: 6px;
  border: 1px solid #333;
  border-radius: 6px;
  font-size: 14px;
}

.accordion-content {
  max-height: 0;           /* Hidden by default */
  overflow: hidden;        /* Hide extra content */
  transition: max-height 0.3s ease;
}

.accordion-header {
  cursor: pointer;         /* Show hand cursor */
  padding: 10px;
  background-color: #ffffff;
}

.size-chip {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background-color: oklch(89.755% 0.0001 271.152);
  border-radius: 5px;
}

.arrow {
  float: right;
  transition: transform 0.3s ease;
}

.accordion-item.active .arrow {
  transform: rotate(90deg); /* Rotate arrow when open */
}
/*slide*/
.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-product-img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  display: none; /* hide all images */
}

.main-product-img.active {
  display: block; /* only show active one */
}

/* BUTTONS */
.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.slide-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

